{
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": true,
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": false,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
